<h1>Your To Do List</h1>

<p>Here are your tasks</p>
<ul>
  <%@tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>

 <form action="/results" method="post">
  <div class="form-group">
     <label for="description">Task Description</label>
     <input id="description" name="description" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Add task</button>
</form>
